body{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    max-width: 1440px;
}
.logo{
    padding: 10px;
    align-items: flex-start;
    width: 100%;
    max-width: 445px;
    margin-left: -15px;
}
.flex-item {
	height: 100vh;
	padding: 2em;
}
.slot-left{
    margin: 2em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.slot-right{
    background:url("./images/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 40%;
    height: 100vh;

}
.sl_wrap{
    margin: 103px 0px;
    max-width: 446px;
}

.sl_wrap > h1{
    margin-top: 1.2em;
    margin-bottom: .3em;
    font-size: 2.8em;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .5em;
    text-transform: uppercase;
    
}
.title-top{
    color: hsl(0, 36%, 70%);
    font-weight: 100;
}
.title-btm{
    display: block;
}
.content{
    color: hsl(0, 36%, 70%);
    letter-spacing: 2px;
}
form{
  margin-top: 2.2em;
}
.fakeput{
    border: 1px solid hsl(0, 36%, 70%);
	display: flex;
	align-items: center;
    border-radius: 2em;
    height: 48px;
    border-radius: 50px;
    padding-left: 25px;
    width: 50%;
}

.fakeput-input{
    border: none;
    background: none;
	flex: 1;
	align-self: stretch;
    padding-left: 1em;
    width: 50%;
}
.fakeput-input:focus{outline: none !important;}

button:active {outline:none !important;}

::placeholder{
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
button{
    cursor: pointer;
    border: 1px solid #f8bfbf;
    border-radius: 50px;
    margin-left: 10px;
    width: 65px;
    height: 48px;
    box-shadow: 0 10px 20px -12px #413a3a;
    background: linear-gradient(135deg,#f8bfbf,#ee8c8c);
}
.error{
	margin: 0 5px;
	font-size: 20px;
	height: 1em;
	width: 1em;
	border-radius: 2em;
	text-align: center;
    font-weight: bold;
    opacity: 0;
}


/* error icon appears when input is invalid */
form input:required:focus:invalid {
    background: url() no-repeat 95% 50%;
  }

.alert{color: hsl(0, 93%, 68%);}

.invalid {border: 5px solid hsl(0, 93%, 68%); }
 
  