body{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    max-width: 1440px;
}
.logo{
    margin: 2em;
}
.slot-left{
    flex: 2;
    margin: 2em;
    /* background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)) ;
    border-radius: 25%; */
}
 
.slot-right{
    flex: 1;
}
.title-top{
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
}
.title-btm{
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    letter-spacing: 10px;
    display: block;
}
.content{
    color: hsl(0, 36%, 70%);
    letter-spacing: 2px;
}
.fakeput{
    border: 1px solid hsl(0, 36%, 70%);
	display: flex;
	align-items: center;
    border-radius: 2em;
    height: 48px;
    border-radius: 50px;
    padding-left: 25px;
    width: 50%;
}

.fakeput-input{
    border: none;
    background: none;
	flex: 1;
	align-self: stretch;
    padding-left: 1em;
    width: 50%;
}
.fakeput-input:focus {outline: none;}

::placeholder{
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
button{
    cursor: pointer;
    border: 1px solid #f8bfbf;
    border-radius: 50px;
    margin-left: 10px;
    width: 65px;
    height: 48px;
    box-shadow: 0 10px 20px -12px #413a3a;
    background: linear-gradient(135deg,#f8bfbf,#ee8c8c);
}
.error{
	margin: 0 5px;
	font-size: 20px;
	height: 1em;
	width: 1em;
	border-radius: 2em;
	text-align: center;
    font-weight: bold;
    opacity: 0;
}
/* form  input:focus:required:invalid + .alert {opacity: 1;} */

/* error icon appears when input is invalid */
form input:required:focus:invalid {
    background: url("./images/icon-error.svg") no-repeat 95% 50%;
  }
/* input:invalid + span {opacity: 1;} */

img{
    border-style: none;
}
/* .alert{
    color: hsl(0, 93%, 68%);
    opacity: 0;
} */


.invalid {border: 5px solid hsl(0, 93%, 68%); }
 
  